* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato" , sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: grey;
  padding: 30px;
  /*is not inherited */ }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
    /*compared to orginal pos */ }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 18px;
    /* animation-name: moveInRight;
        animation-duration: 1s; */
    animation: moveInRight 1s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #55c57a);
  -webkit-background-clip: text;
  letter-spacing: .5rem;
  color: transparent;
  transition: all .5s; }
  .heading-secondary:hover {
    transform: skewY(2deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.btn:link, .btn:visited {
  font-size: 1.5rem;
  /* position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%); */
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 5rem;
  border-radius: 10rem;
  display: inline-block;
  /* Cool */
  margin: 4rem;
  letter-spacing: .5rem;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: #fff;
  color: grey; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  color: white;
  background-color: #55c57a;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.5);
  transform: translateY(-3px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: translateY(0px); }

.header {
  height: 95vh;
  /* border-color:red;
    border-width: 10px; */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(85, 197, 122, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%);
  /* clip-path:polygon(0 0,100% 50%,0 100%); */
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header__logo {
    height: 4.5rem;
    /*width will be scalar also*/ }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    float: left;
    width: calc((100% - 6rem)/2); }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 6rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -28vh; }

.text-box {
  /* margin-left:50px; */
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
