@import "abstracts/variables"; //need to be include first!!!
@import "base/base";
@import "base/animation";
@import "base/typography";
@import "base/utilities";

@import "abstracts/mixins";

@import "components/button";

@import "layout/header";
@import "layout/grid";

@import "pages/home";







.text-box{
    /* margin-left:50px; */
    position: absolute;
    top:35%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}




